<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IMDB web scraper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Search for a film</h1>
<!--/*@thymesVar id="titleSearch" type="com.william.model.TitleSearch"*/-->
<form action="#" th:action="@{/ImdbConnect}" th:object="${titleSearch}" method="post">
    <p>Search: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>